html {
  --brand-red: #E51837;
  --text-grey: #4E5368;
  --detail-grey: #9E9FAD;
}

* {
  margin: 0;
  padding: 0;
}

button, input {
  all: unset;
}

.parts-cards {
  display: flex;
  gap: 20px;
  justify-content: center;
}
