.title {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--detail-grey);
}

.search {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 24px;
}

.carticon {
    width: 26px;
    height: auto;
}

.fuzzy-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    backdrop-filter: blur(5px); /* Blurry effect */
    z-index: 999; /* Ensure it's on top but below the cart modal if you have one */
    display: none; /* Hide by default */
  }