.cardscontainer {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.cardsbox {
    display: flex;
    padding: 32px;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--White, #FFF);
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.05);
}

.fuzzy-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    backdrop-filter: blur(5px); /* Blurry effect */
    z-index: 999; /* Ensure it's on top but below the cart modal if you have one */
    display: none; /* Hide by default */
  }
  